{% extends 'base.html' %} 
{% load crispy_forms_tags %} 

{% block content %}
<main style="margin-top: 100px;"> 
<div class="container mt-5"> <!-- Add margin on top -->
    <form class="w-50 mx-auto" method="post"> <!-- Set width to 50% and center the form -->
        <h1 class="text-center mb-4">Update your Profile</h1> <!-- Center the title -->
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-warning d-block mx-auto mb-5">Submit</button> <!-- Center the button -->
    </form> 
</div>
<main>
{% endblock %}
